/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #f4f4f4;
    background-color: #f4f4f4;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #020c1a;
  }
  
  .navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #f4f4f4;
  }
  
  /* Hero Section */
  .hero {
    text-align: center;
    padding: 100px 20px;
    background-image: url('library.jpg');
    height: 300px;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #b71c1c;
  }
  
  /* Features Section */
  .features {
    padding: 50px 20px;
    text-align: center;
    background-color: aliceblue;
  }
  
  .features h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #071425;
  }
  
  .feature-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .feature-item {
    background-color: rgb(2, 2, 31);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
  }
  
  .feature-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #fff;
  }
  
  /* Contact Section */
  .contact {
    padding: 50px 20px;
    background-image: url(contact.jpg);
    color: #fff;
    text-align: center;
  }
  
  .contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form button {
    align-self: center;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #b71c1c;
  }
  
  /* Footer */
  .footer {
    text-align: center;
    padding: 10px;
    background-color: #030e1d;
    color: #fff;
  }